<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - College Scorecard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="CollegesList">Colleges List </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="CollegeScorecard">College Scorecard </a><text> | </text>
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us </a><text> | </text>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 CollegeScorecard - Powered by <a href="https://collegescorecard.ed.gov/data/" target="_blank">College Scorecard Data</a></p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>