body {
    background-color: #CFC493;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006747;
}

.nav-bar {
    background-color: #006747;
    color: #CFC493;
    font-size: x-large;
}

.nav-bar > a {
    text-decoration: none;
    color: inherit;
}

td {
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}
